<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5419b2e6-4799-48c7-b07d-570e8b6afa13/resourceGroups/ProfanitiesProtector-RG/providers/Microsoft.Web/sites/ProfanitiesProtector</ResourceId>
    <ResourceGroup>ProfanitiesProtector-RG</ResourceGroup>
    <ApiResourceId>/subscriptions/5419b2e6-4799-48c7-b07d-570e8b6afa13/resourceGroups/ProfanitiesProtector-RG/providers/Microsoft.ApiManagement/service/ProfanitiesProtectorapi/apis/ProfanitiesProtector</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://profanitiesprotector.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d0528bb5-fde2-475c-a552-4ffbae03b6a7</ProjectGuid>
    <MSDeployServiceURL>profanitiesprotector.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ProfanitiesProtector</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>